@use '../../../styles' as main-style;

header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  margin-top: 55px;
  z-index: 5;

  //Image at the right top corner
  #landing-image {
    flex-wrap: nowrap;
    position: relative;
    top: -220px;
    right: -90px;
    width: 602px;
    height: 800px;
  }

  #landing-image {
    @if(main-style.is-dark-theme()) {
      filter: brightness(30%) contrast(150%);
    }
  }

  //Block at the center with landing logo
  .landing-block {
    h2 {
      color: main-style.get-color(100);
      font-size: 72px !important;
      line-height: 88px !important;
    }

    h4 {
      color: main-style.get-color(200);
      line-height: 28px !important;
    }

    .buttons {
      display: flex;
      margin-top: 39px;
      gap: 24px;

      #add-recipe-button { //Add button
        .label {
          margin-right: 23px;
        }
        padding: 16px 35px;
        border-radius: 16px;
      }

      #add-recipe-button:hover {
        background-color: rgba(main-style.get-color(), 0.9);
      }

      #join-profile-button { //Join button
        color: main-style.get-color();
        border: 1px solid;
        padding: 16px 78px;
        border-radius: 16px;
        background-color: transparent;
      }

      #join-profile-button:hover {
        background-color: rgba(main-style.get-color(), 0.05);
      }
    }
  }

}

.advantages {
  h2 {
    color: main-style.get-color(100);
    font-size: 42px !important;
    line-height: 62px !important;
  }

  h4 {
    color: main-style.get-color(200);
    line-height: 32px !important;
  }

  .filters {
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 29px;

    div { //Box with filter example
      width: 25%;;
      padding: 32px 24px;
      background: main-style.get-color(W);
      box-shadow: 0 16px 72px rgba(34, 39, 47, 0.05);
      border-radius: 24px;
      cursor: pointer;

      .filter-icon {
        display: inline-flex;
        padding: 13px 14px;
        background-color: main-style.get-color(400);
        color: main-style.get-color(800);
        border-radius: 12px;
        margin-bottom: 24px;
      }

      h2 {
        color: main-style.get-color(100);
        font-size: 24px !important;
        line-height: 30px !important;
      }

      h4 {
        color: main-style.get-color(200);
        font-size: 18px !important;
        line-height: 30px !important;
      }
    }

    div:hover {
      transform: scale(1.02);
    }
  }
}

.search {
  display: flex;
  padding: 0 158px;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;

  h2 {
    color: main-style.get-color(100);
    font-size: 42px !important;
    line-height: 51px !important;
  }

  h4 {
    color: main-style.get-color(200);
    //font-family: 'Mulish'; //TODO ONLY HERE
    font-size: 18px !important;
    line-height: 32px !important;
    font-feature-settings: 'case' on !important;
  }

  search-block {
    width: 100%;
    margin-top: 64px;
  }
}

