<form class="search-form">

  <div class="search-filed">
    <input id="input-field"
           class="mat-h4"
           type="text"
           autocomplete="off"
           spellcheck="false"
           placeholder="Название блюда...."
           #searchField
           [value]="searchString"
           (input)="onValueChange(searchField.value)">
    <div class="search-tags">
      <h4>Мясо</h4>
      <h4>Деликатесы</h4>
      <h4>Пироги</h4>
      <h4>Рыба</h4>
    </div>
  </div>

  <button id="submit-button" class="mat-h3" mat-flat-button color="primary" (click)="onSubmit(searchField.value)">Поиск</button>
</form>

