@use '../../../styles' as main-style;

.search-form {
  display: flex;
  width: 100%;
  align-items: baseline;
  gap: 16px;

  .search-filed {
    display: flex;
    width: 100%;
    flex-direction: column;

    h4 {
      cursor: pointer;
      color: main-style.get-color(50);
      font-size: 16px !important;
      line-height: 18px !important;
      border: 2.5px solid transparent;
    }

    h4:hover {
      border-bottom: 2.5px dotted;
    }
  }

  #submit-button {
    padding: 27px 32px;
    border-radius: 16px;
    font-size: 18px !important;
    line-height: 22px !important;
    text-transform: capitalize !important;
  }

  #input-field {
    width: 100%;
    padding: 28px 32px;

    box-sizing: border-box;
    background: main-style.get-color(0);
    box-shadow: 0 8px 42px rgba(34, 39, 47, 0.04);
    color: rgba(37, 41, 45, 0.5);
    border-radius: 16px;
  }
}

.search-tags {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 10px;
}
