<form class="search-form">

  <div class="search-filed">
    <input id="input-field" class="mat-h4" type="text" placeholder="Название блюда...." [matAutocomplete]="auto">
    <div class="search-tags">
      <h4>Мясо</h4>
      <h4>Деликатесы</h4>
      <h4>Пироги</h4>
      <h4>Рыба</h4>
    </div>
  </div>

  <button id="submit-button" class="mat-h3" mat-flat-button color="primary">Поиск</button>
  <mat-autocomplete #auto="matAutocomplete">
    <!--        <mat-option *ngFor="let street of filteredStreets | async" [value]="street">{{street}}</mat-option>-->
  </mat-autocomplete>
</form>

