#image-upload-input {
  display: none;
}

label {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  border: 1px dashed;
  border-radius: 20px;
  cursor: pointer;
  padding: 80px 0;

  h4 {
    font-size: 16px !important;
    line-height: 20px !important;
    margin-bottom: 0;
    text-align: center;
  }
}

