<div class="container mat-typography">
  <img id="cross-exit" src="assets/images/svg/cross-exit-icon.svg" alt="" (click)="dialogRef.close()">
  <h1 mat-dialog-title>Удалить рецепт</h1>

  <div mat-dialog-content class="content">
    <h4 class="simple-text">Вы уверены что хотите удалить этот рецепт?</h4>
  </div>

  <div mat-dialog-actions class="buttons">
    <button mat-flat-button color="primary" id="ok-button" class="mat-display-4" (click)="removeRecipe()">Удалить</button>
    <button mat-flat-button id="cancel-button" class="mat-display-4" (click)="dialogRef.close()">Отмена</button>
  </div>
</div>


