<div class="container mat-typography ">


  <header>
    <!--First block-->
    <div class="title-block">
      <h2>Избранное</h2>
    </div>
  </header>

  <div class="recipes-list">

    <div class="recipe-block">
      <div class="image">
        <div class="author-tag">@glazest</div>
      </div>
      <div class="content">

        <div class="upper-part">
          <div class="tags-list">
            <h4>десерты</h4>
          </div>

          <div class="buttons">
            <div class="mat-display-4" id="favorite-button">
              <img src="../../../assets/images/svg/star-icon.svg" alt="">
              8
            </div>
            <div class="mat-display-4" id="like-button">
              <img src="../../../assets/images/svg/heart-icon.svg" alt="">
              16
            </div>
          </div>
        </div>

        <div class="about">
          <h2>Мясные фрикадельки</h2>
          <h4>Мясные фрикадельки в томатном соусе - несложное и вкусное блюдо, которым можно порадовать своих близких.</h4>
        </div>

        <div class="info-part">

          <div class="info-block">
            <img src="../../../assets/images/recipes/svg/timer-icon.svg" alt="">
            <div class="info">
              <h4 class="info-tag">Время приготовления:</h4>
              <h4 class="info-value">90 мин</h4>
            </div>
          </div>

          <div class="info-block">
            <img src="../../../assets/images/recipes/svg/two-persons-icon.svg" alt="">
            <div class="info">
              <h4 class="info-tag">Рецепт на:</h4>
              <h4 class="info-value">4 персоны</h4>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <button mat-flat-button id="load-more-button" class="mat-display-4">Загрузить еще</button>

  <h3 id="empty-list-message">Ваш список пуст</h3>
</div>
