@use '../../../styles' as main-style;

header {
  display: flex;
  gap: 50px;
  flex-direction: column;
  align-items: flex-start;

  .title-block {
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    h2 {
      color: main-style.get-color(100);
      font-size: 42px !important;
      line-height: 62px !important;
      margin-bottom: 0;
    }

    h4 {
      color: main-style.get-color(200);
      font-size: 18px !important;
      line-height: 32px !important;
      font-feature-settings: 'case' on !important;
      margin-bottom: 0;
    }
  }
}

.recipes-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  margin-top: 50px;
}

#load-more-button {
  align-self: center;
  margin-top: 65px;
  color: main-style.get-color();
  border: 1px solid;
  border-radius: 16px;

  line-height: 22px !important;
  width: 309px;
  padding: 22px 65px;
  background-color: transparent;
}

#empty-list-message {
  text-align: center;
  font-size: 24px !important;
  line-height: 30px !important;
  color: main-style.get-color();
  opacity: 0.5;
}

