<div class="container mat-typography">

  <header>

    <div class="title-block">
      <h2>Добавить новый рецепт</h2>
      <button mat-flat-button color="primary" id="add-recipe-button" class="mat-display-4" (click)="onSubmit()" [disabled]="form.invalid">
        Опубликовать
      </button>
    </div>

  </header>


  <form class="recipe-edit-block" [formGroup]="form">
    <div class="image" [style.background-image]="form.controls['imagePath'].value | imageUrl">
      <image-upload class="download-area" (imageUpload)="onImageChange($event)"></image-upload>
    </div>

    <div class="content">
      <div class="input-field">
        <input class="mat-h4" type="text" placeholder="Название рецепта" formControlName="recipeName">
      </div>
      <div class="input-field no-resize">
        <textarea [maxLength]="149" rows="4" class="mat-h4 big" placeholder="Краткое описание рецепта (150 символов)"
                  formControlName="recipeDescription"></textarea>
      </div>
      <div class="input-field small no-resize">
        <tags-input class="mat-h4" formControlName="tags"></tags-input>
      </div>

      <div class="select-buttons">
        <div class="select-field">
          <mat-select class="mat-h4" placeholder="Время готовки" formControlName="requiredTime">
            <mat-option *ngFor="let time of availableTimes" value="{{time}}">{{time}}</mat-option>
          </mat-select>
          <h4>Минут</h4>
        </div>

        <div class="select-field">
          <mat-select class="mat-h4" placeholder="Порций в блюде" formControlName="servingsAmount">
            <mat-option *ngFor="let amount of availableServings" value="{{amount}}">{{amount}}</mat-option>
          </mat-select>
          <h4>Персон</h4>
        </div>

      </div>
    </div>
  </form>


  <div class="main-content" [formGroup]="form">

    <div class="ingredients-column">
      <h2 class="column-title">Ингредиенты</h2>
      <ingredients-input formControlName="ingredients" #ingredientsInput></ingredients-input>
      <button mat-flat-button class="add-button mat-display-4" (click)="ingredientsInput.add()">
        <custom-svg class="label" name="plus-icon"></custom-svg>
        Добавить заголовок
      </button>
    </div>

    <div class="steps-column">
      <steps-input formControlName="steps" #stepsInput></steps-input>
      <button mat-flat-button class="add-button mat-display-4" (click)="stepsInput.add()">
        <custom-svg class="label" name="plus-icon"></custom-svg>
        Добавить шаг
      </button>
    </div>

  </div>

</div>
