<div class="container mat-typography ">

  <header>

    <div class="title-block">
      <h2>Добавить новый рецепт</h2>
      <button mat-flat-button color="primary" id="add-recipe-button" class="mat-display-4" (click)="onSubmit()">
        Опубликовать
      </button>
    </div>

  </header>


  <form class="recipe-edit-block" [formGroup]="form">
    <div class="image" style="background-image: url({{imageUrl}}{{form.controls['imagePath'].value}});">
      <image-upload class="download-area" (imageUpload)="onImageChange($event)"></image-upload>
    </div>

    <div class="content">
      <div class="input-field">
        <input class="mat-h4" type="text" placeholder="Название рецепта" formControlName="recipeName">
      </div>
      <div class="input-field big no-resize">
        <textarea [maxLength]="149" class="mat-h4" placeholder="Краткое описание рецепта (150 символов)"
                  formControlName="recipeDescription"></textarea>
      </div>
      <div class="input-field small no-resize">
        <textarea rows="1" class="mat-h4" placeholder="Добавить теги"></textarea>
      </div>

      <div class="select-buttons">
        <div class="select-field">
          <mat-select class="mat-h4" placeholder="Время готовки" formControlName="requiredTime">
            <mat-option *ngFor="let time of availableTimes" value="{{time}}">{{time}}</mat-option>
          </mat-select>
          <h4>Минут</h4>
        </div>

        <div class="select-field">
          <mat-select class="mat-h4" placeholder="Порций в блюде" formControlName="servingsAmount">
            <mat-option *ngFor="let amount of availableServings" value="{{amount}}">{{amount}}</mat-option>
          </mat-select>
          <h4>Персон</h4>
        </div>

      </div>
    </div>
  </form>


  <div class="main-content">
    <div class="ingredients-column">
      <h2 class="column-title">Ингредиенты</h2>

      <ingredient-edit-block *ngFor="let ingredient of recipeIngredients; let ind = index" [ingredient]="ingredient" [number]="ind" (blockRemove)="removeIngredient($event)"></ingredient-edit-block>

      <button mat-flat-button class="add-button mat-display-4" (click)="addNewIngredient()">
        <custom-svg class="label" name="plus-icon"></custom-svg>
        Добавить заголовок
      </button>
    </div>

    <div class="steps-column">

      <step-edit-block *ngFor="let step of recipeSteps; let ind = index" [number]="ind" [step]="step" (blockRemove)="removeStep($event)"></step-edit-block>

      <button mat-flat-button class="add-button mat-display-4" (click)="addNewStep()">
        <custom-svg class="label" name="plus-icon"></custom-svg>
        Добавить шаг
      </button>
    </div>
  </div>

</div>
